downloads/
sources/
tools/local/
__pycache__/
*.pyc
*.img
*.bin
*.pb
*.gz-dtb
*.dat
*.br
*.zip
*.part
*.bundle
*.tar
research/**/file_contexts.generated
research/**/system/
research/**/system_ext/
research/**/vendor/
research/**/ramdisk/
research/**/*.html
research/**/*.js
research/**/inode-metadata.json
research/wayne-os4-system-metadata.json
artifacts/releases/
/artifacts/experimental/static/
