downloads/
sources/
tools/local/
__pycache__/
*.pyc
*.img
*.bin
*.pb
*.gz-dtb
*.dat
*.br
*.zip
*.part
*.bundle
research/**/system/
research/**/system_ext/
research/**/vendor/
research/**/ramdisk/
research/**/*.html
research/**/*.js
